* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    background: #726258;
}

.gallery {
    padding: 2em;
    min-height: 120vh;

}

.buttons2 {
    /* padding: 2em 0 6em 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.buttons2 button {
    margin: 1em;
    padding: 0.7em 1.5em;
    font-size: 1.1em;
    border: none;
    background: #111;
    color: #fff;
    border: 2px solid #111;
    border-radius: 0.2em;
    cursor: pointer;
    transition: 0.3s;
}

.buttons2 button:hover,
.buttons2 .btn-clicked {
    background-color: #fff;
    color: #111;
}

.images {
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;

}

.images img {
    width: 15em;
    margin: 1em;
    border-radius: 0.2em;
    transform: scale(1);
    transition: 0.3s ease-in-out;

}

.images img:hover {
    transform: scale(1.1);
}

/* Classes for Javascript */

.images .img-expand {
    width: 15em;
    margin: 1em;

}

.images .img-shrink {
    width: 0em;
    margin: -1em;
}


/* next button style */

a {
    font-size: 25px;
    background-color: rgb(182, 190, 228);
    color: rgb(19, 19, 20);
    font-weight: 700;
    padding: 10px;
    float: inline-end;
    margin-right: 60px;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 10px;
}

a:hover {
    color: black;
    background-color: #7434c3;
}

@media screen and (max-width: 1439px) {

    .images {
        max-width: 896px;
    }

}

@media screen and (max-width:986px) {
    .images {
        align-items: center;
        /* flex-direction: column; */
    }

    .images img {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

  
}

@media screen and (max-width: 600px) {
    .buttons2 button {
        width: 100%;
        display: block;
    }

    .images .img-expand,
    .images img {
        width: 100%;

    }

}